*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    /*background-color: #48f67c*/
    font-family: 'Inter', sans-serif;
    background-color: #fff281;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23b99a9a' fill-opacity='0.29'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

main{
    width: 100%;
    margin: 0 auto;
}

/*NAV BAR*/

.container-nav{
    font-size: 17px;
    width: 90%;
    margin: 0 auto;
    position: sticky;
    top: 0;
}

.container-nav ul{
    display: flex;
   justify-content: space-between;
    list-style-type: none;
    margin-top: 15px;
    padding: 20px;
    font-weight: bold ;
    text-shadow: white 1px 1px;
    position: sticky;
}

#nav-name{
    width: 180px;
    height: 30px;

}


a{
    text-decoration: none;
    color: black;
}

hr{
    margin: 10px 0px;
    background-color: black;
    height: 2.5px;
}

.title h3{
    background-color: white;
    height: 60px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 8px;

}

.title{
    scroll-margin-top: 100px;
}




/*SLIDER*/

.hero{
    width: 100%;
    height: auto;
    margin: 50px auto 0;
}




.hero img{
    width: 100%;
    height: 800px;
    box-shadow: 5px 5px 2px #444 ;
}


/*ABOUT ME*/

#about-id{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    
}


#about-id img{
    width: 350px;
    height: 320px;
    border-radius: 500px;
}

#about-id h4, h3{
    background-color: white;
    margin: 12px;
}

#about-id li{
    font-weight: bold ;
    text-shadow: white 1px 1px;
}

/*CONTACT ME*/

#contactme-id{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    
}

#contactme-id h3{
    width: 100%;
    background-color: white;
    margin: 12px;
}

#contactme-id h4{
    background-color: white;
    margin: 12px;
}

#contactme-id button{
    width: 13%;
    background-color: orange;
    margin: 10px;
    opacity: 0.8;
}

#contactme-id button:hover{
    
    background-color: rgb(32, 232, 129);
    opacity: 0.8;
}

.input-text{
    background: #f8f3f3;
    border-radius: 10px;
    width: 70%;
    height: 25px;
    padding-left: 15px;
    color: black
}




