*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    /*background-color: #48f67c*/
    font-family: 'Inter', sans-serif;
    background-color: #fff281;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23b99a9a' fill-opacity='0.29'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

main{
    width: 100%;
    margin: 0 auto;
}

/*NAV BAR*/

.container-nav{
    font-size: 17px;
    width: 90%;
    margin: 0 auto;
    position: sticky;
    top: 0;
}

.container-nav ul{
    display: flex;
   justify-content: space-between;
    list-style-type: none;
    margin-top: 15px;
    padding: 20px;
    font-weight: bold ;
    text-shadow: white 1px 1px;
    position: sticky;
}

#nav-name{
    width: 180px;
    height: 30px;

}


a{
    text-decoration: none;
    color: black;
}

hr{
    margin: 10px 0px;
    background-color: black;
    height: 2.5px;
}

.title h3{
    background-color: white;
    height: 60px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 8px;

}

.title{
    scroll-margin-top: 100px;
}




/*SLIDER*/

.hero{
    width: 100%;
    height: auto;
    margin: 20px auto 0;
}




.hero img{
    width: 100%;
    height: 800px;
    box-shadow: 5px 5px 2px #444 ;
    margin: auto;
    border: 5px inset rgb(221, 133, 133);
    background-color: rgb(243, 235, 235);
    padding: 7px;
}




/*ABOUT ME*/

#about-id{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    
}

.container-about{
    margin: auto;
    border: 5px solid rgb(221, 133, 133);
    background-color: rgb(243, 235, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
   
}

#titulo-about{
    width: 100%;
    background-color: white;
    margin: 12px;
    border: 5px inset rgb(254, 152, 18);
    background-color: rgb(243, 235, 235);
}


#about-id img{
    width: 350px;
    height: 320px;
    border-radius: 500px;
}

#about-id h4, h3{
    background-color: rgb(224, 224, 39);
    margin: 12px;
    text-align: center;
}


#about-id li{
    font-weight: bold ;
    text-shadow: white 1px 1px;
    text-align: center;
}

#about-id ul{
    line-height: 30px;
    list-style: none;
}

/*CONTACT ME*/

#contactme-id{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    
}

#contactme-id h3{
    width: 100%;
    background-color: white;
    margin: 12px;
    border: 5px inset rgb(254, 152, 18);
    background-color: rgb(243, 235, 235);
}


#contactme-id h4{
    background-color: white;
    margin: 12px;
}

#contactme-id button{
    width: 13%;
    background-color: orange;
    margin: 10px;
    opacity: 0.8;
}

#contactme-id button:hover{
    
    background-color: rgb(32, 232, 129);
    opacity: 0.8;
}

.input-text{
    background: #f8f3f3;
    border-radius: 10px;
    width: 70%;
    height: 25px;
    padding-left: 15px;
    color: black
}


.redes-sociales{
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
}

.red-social{
    width: 45px;
    height: 45px;
}

#number{
    text-decoration: underline;
}

/*EXPERIENCE*/

.imagen-proyecto{
    width: 150px;
    height: 150px;
}

#titulo-exp{
    width: 100%;
    margin: 15px auto;
    border: 5px inset rgb(254, 152, 18);
    background-color: rgb(243, 235, 235);
}

.projects{
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    border: 5px solid rgb(221, 133, 133);
    background-color: rgb(243, 235, 235);
    padding: 30px;
}


#titulo-projects{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: bold ;
    text-shadow: white 1px 1px;
    background-color: azure;
    width: 100%;
    margin-bottom: 15px;
    border: 5px outset rgb(254, 152, 18);
    background-color: rgb(243, 235, 235);
}

.projects h4{
    text-align: center;
    font-size: 10px;
    font-weight: bold ;
    text-shadow: white 1px 1px;
}

#proyecto-1, #proyecto-2, #proyecto-3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
    
}

.imagen-proyecto{
    margin-top: 10px;
}

.projects a{
    text-decoration:underline;
}

/*SKILLS*/

.skills-container{
    width: 100%;
    margin: auto;
    border: 5px solid rgb(221, 133, 133);
    background-color: rgb(243, 235, 235);
    padding: 20px;
}

#titulo-skills{
    margin: 15px auto;
    border: 5px inset rgb(254, 152, 18);
    background-color: rgb(243, 235, 235);
}


.skill{
    width: 100%;
    background-color: #ddd;
    padding: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: right;
}

#skill-html{
    background-color: rgb(240, 127, 21);
    animation: barra-html 2s forwards;
}

#skill-css{
    background-color: rgb(20, 208, 222);
    animation: barra-css 2s forwards;
}

#skill-js{
    background-color: rgb(241, 225, 46);
    animation: barra-js 2s forwards;
}

@keyframes barra-html {
    0%{width: 0;}
    100%{width: 80%;}
}

@keyframes barra-css {
    0%{width: 0;}
    100%{width: 60%;}
}

@keyframes barra-js {
    0%{width: 0;}
    100%{width: 70%;}
}















