*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    /*background-color: #48f67c*/
    font-family: 'Inter', sans-serif;
    background-color: #fff281;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23b99a9a' fill-opacity='0.29'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

main{
    width: 100%;
    margin: 0 auto;
}

/*NAV BAR*/

.container-nav{
    font-size: 17px;
    width: 90%;
    margin: 0 auto;
    position: sticky;
    top: 0;
}

.container-nav ul{
    display: flex;
   justify-content: space-between;
    list-style-type: none;
    margin-top: 15px;
    padding: 8px;
    font-weight: bold ;
    text-shadow: white 1px 1px;
    position: sticky;
}

#nav-name{
    width: 180px;
    height: 30px;

}


a{
    text-decoration: none;
    color: black;
}

hr{
    margin: 10px 0px;
    background-color: black;
    height: 2.5px;
}

.title h3{
    background-color: white;
    height: 60px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 8px;

}

.title{
    scroll-margin-top: 100px;
}




/*SLIDER*/

.hero{
    width: 100%;
    height: auto;
    margin: 20px auto 0;
}




.hero img{
    width: 100%;
    height: 500px;
    box-shadow: 5px 5px 2px #444 ;
    margin: auto;
    border: 5px inset rgb(221, 133, 133);
    background-color: rgb(243, 235, 235);
    padding: 7px;
}




/*ABOUT ME*/

#about-id{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 20px;
    
}

.container-about{
    margin: auto;
    border: 5px solid rgb(221, 133, 133);
    background-color: rgb(243, 235, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
   
}

#titulo-about{
    width: 100%;
    background-color: white;
    margin: 12px;
    border: 5px inset rgb(254, 152, 18);
    background-color: rgb(243, 235, 235);
}


#about-id img{
    width: 350px;
    height: 320px;
    border-radius: 500px;
}

#about-id h4, h3{
    background-color: rgb(224, 224, 39);
    margin: 12px;
    text-align: center;
}


#about-id li{
    font-weight: bold ;
    text-shadow: white 1px 1px;
    text-align: center;
}

#about-id ul{
    line-height: 30px;
    list-style: none;
}

/*CONTACT ME*/

#contactme-id{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    
}

#contactme-id h3{
    width: 100%;
    background-color: white;
    margin: 12px;
    border: 5px inset rgb(254, 152, 18);
    background-color: rgb(243, 235, 235);
}


#contactme-id h4{
    background-color: white;
    margin: 12px;
}

#contactme-id button{
    width: 14%;
    height: 30px;
    border-radius: 10px;
    background-color: orange;
    margin: 10px;
    margin-top: 20px;
    opacity: 0.8;
    font-weight: bold ;
    text-shadow: white 1px 1px;
    text-align: center;
}

#contactme-id button:hover{
    
    background-color: rgb(32, 232, 129);
    opacity: 0.8;
}

.input-text{
    background: #f8f3f3;
    border-radius: 10px;
    width: 55%;
    height: 25px;
    padding-left: 15px;
    color: black
}


.redes-sociales{
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
}

.red-social{
    width: 45px;
    height: 45px;
}

#number{
    text-decoration: underline;
}

/*EXPERIENCE*/

.imagen-proyecto{
    width: 150px;
    height: 150px;
}

#titulo-exp{
    width: 100%;
    margin: 15px auto;
    border: 5px inset rgb(254, 152, 18);
    background-color: rgb(243, 235, 235);
}

.projects{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    border: 5px solid rgb(221, 133, 133);
    background-color: rgb(243, 235, 235);
    padding: 30px;
}


#titulo-projects{
    text-align: center;
    margin: 15px auto;
    font-size: 25px;
    font-weight: bold ;
    text-shadow: white 1px 1px;
    background-color: azure;
    width: 90%;
    margin-bottom: 15px;
    border: 5px outset rgb(254, 152, 18);
    background-color: rgb(243, 235, 235);
}

.projects h4{
    text-align: center;
    font-size: 13px;
    font-weight: bold ;
    text-shadow: white 1px 1px;
}

#proyecto-1, #proyecto-2, #proyecto-3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 20px;
    
}

.imagen-proyecto{
    margin-top: 10px;
}

.projects a{
    text-decoration:underline;
}

/*SKILLS*/

.skills-container{
    width: 90%;
    margin: auto;
    border: 5px solid rgb(221, 133, 133);
    background-color: rgb(243, 235, 235);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#titulo-skills{
    margin: 15px auto;
    border: 5px inset rgb(254, 152, 18);
    background-color: rgb(243, 235, 235);
}


.skills-container p{
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: bold ;
    text-shadow: white 1px 1px;
    text-align: center;
}

.skill{
    width: 40%;
    background-color: #ddd;
    padding: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    font-size: 2rem;
    border: 5px inset rgb(254, 152, 18);
}


#skill-html{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 127, 21);
    height: 100px;
    letter-spacing: .15rem;
    font-weight: bold ;
    text-shadow: white 1px 1px;
    text-align: center;
}

#skill-css{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(20, 208, 222);
    letter-spacing: .15rem;
    font-weight: bold ;
    text-shadow: white 1px 1px;
    text-align: center;
}

#skill-js{
    background-color: rgb(241, 225, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    letter-spacing: .15rem;
    font-weight: bold ;
    text-shadow: white 1px 1px;
    text-align: center;
}

/*Celular*/
@media (min-width: 370px) {

    /*NAV*/
    #nav-name{
        width: 80px;
        height: 30px;
    
    }
    .container-nav ul li{
        font-size: 13px;
        
    }

    /*SKILLS*/
    .skills-container{
        width: 90%;
       
    }


    #skill-html{
        font-size: 15px;
    }
    
    #skill-css{
        font-size: 15px;
    }
    
    #skill-js{
        font-size: 15px;
    }

    /*EXPERIENCE*/

    .projects{
        width: 90%;
    }

    .projects h4{
        font-size: 8px;
    }

    .imagen-proyecto{
        width: 105px;
        height: 120px;
    }

    /*ABOUT ME*/
    .container-about{
        width: 98%;
    }

    #titulo-about{
        width: 95%;
    }

    #titulo-exp{
        width: 95%;
    }

    /* HERO*/

    .hero img{
        width: 100%;
        height: 420px;
    }

}


/*Tablet*/

@media (min-width: 768px) {

    /* NAV */

    #nav-name{
        width: 170px;
        height: 30px;
    
    }
    .container-nav ul li{
        font-size: 23px;
        
    }

    /* HERO*/

    .hero img{
        width: 100%;
        height: 720px;
    }

     /*ABOUT ME*/
     .container-about{
        width: 63%;
    }

    #titulo-about{
        width: 95%;
    }

    #titulo-exp{
        width: 95%;
    }

    /*EXPERIENCE*/

    #titulo-projects{
    
        width: 90%;
       
    }

    .projects{
        width: 80%;
    }

    .projects h4{
        font-size: 14px;
    }

    .imagen-proyecto{
        width: 180px;
        height: 180px;
    }

    /*SKILLS*/

    #titulo-skills{
        width: 95%;
        
    }

    .skills-container{
        width: 80%;
       
    }
    .skills-container p{

        font-size: 1.4rem;

    }

    #skill-html{
        font-size: 35px;
    }
    
    #skill-css{
        font-size: 35px;
    }
    
    #skill-js{
        font-size: 35px;
    }

    /*CONTACT ME*/

    #contactme-id h3{
        width: 95%;
       
    }

    .input-text{
        width: 45%;
        height: 25px;
    }

    #contactme-id button{
        width: 10%;
        height: 40px;
    }

    .red-social{
        width: 45px;
        height: 45px;
    }

}

/*Desktop*/
@media (min-width: 1024px) {

    /*NAV*/
    #nav-name{
        width: 180px;
        height: 30px;
    
    }
    .container-nav ul li{
        font-size: 20px;
        
    }


    /* HERO*/

    .hero img{
        width: 100%;
        height: 650px;
    }

    /*ABOUT ME*/
    .container-about{
        width: 55%;
    }
    #titulo-about{
        width: 90%;
    }

    #titulo-exp{
        width: 90%;
    }

    /*EXPERIENCE*/

    #titulo-projects{
    
        width: 80%;
       
    }

    .projects{
        width: 70%;
    }

    .projects h4{
        font-size: 15px;
    }

    .imagen-proyecto{
        width: 200px;
        height: 200px;
    }

    /*SKILLS*/

    #titulo-skills{
        width: 90%;
        
    }


    .skills-container{
        width: 70%;
       
    }

    .skills-container p{

        font-size: 1.5rem;

    }

    #skill-html{
        font-size: 50px;
    }
    
    #skill-css{
        font-size: 50px;
    }
    
    #skill-js{
        font-size: 50px;
    }

    /*CONTACT ME*/

    #contactme-id h3{
        width: 90%;
       
    }

    .input-text{
        width: 30%;
        height: 25px;
    }

    #contactme-id button{
        width: 7%;
        height: 40px;
    }

    .red-social{
        width: 50px;
        height: 50px;
    }
    

}














